body{
  font-family: verdana;
}
img{
    width: 100%;
  }
li::marker{
  font-size: 28;
}

@media only screen and (min-width: 600px) {
  ol {
    display: flex;
    flex-wrap: wrap;
  }
  li{
    width: 50%;
  }
  img{
    width: 50%;
  }
}